main {
    min-height: 95svh;
    background: linear-gradient(#000, rgba(0,0,0,0.5)), url("../img/hogwarts-admin-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 2rem .75rem;
}

.one-student {
    padding-inline: .75rem;
    max-width: 500px;
    margin-inline: auto;
    padding: 1rem;
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.error-message {
    display: block;
    text-align: center;
    padding-block: 3rem;
}

.one-student h2 {
    text-align: center;
    font-weight: 300;
    padding-block: .5rem 1.5rem;
    font-size: 1.75rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 1.25rem;   
    margin-inline: auto;
    font-weight: 300;
}

.description .stand-out {
    color: #c39c00;
}

.buttons {
    max-width: 500px;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-block-start: 1.5rem;
}

.buttons a {
    display: inline;
    font-size: .75rem;
    padding-block: .3rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    text-align: center;
    text-decoration: none;
    transition: all 100ms linear;
}

.edit-btn {
    background: #043f76;
    outline: solid 2px #085cab;
}

.edit-btn:hover {
    background: #085cab;
} 

.delete-btn {
    background: #821901;
    outline: solid 2px #aa2102;
}

.delete-btn:hover {
    background: #aa2102;
}
    