main {
    min-height: 95svh;
    background: linear-gradient(#000, rgba(0,0,0,0.5)), url("../img/hogwarts-admin-background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding-inline: .75rem;
}

.main-heading h1 {
    text-align: center;
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    letter-spacing: 1px;
    font-weight: 300;
    padding-block: 3rem 2.5rem;
}

.errors {
    max-width: 300px;
    margin-inline: auto;
    text-align: center;
    padding-block-end: 1rem;
    color: #821901;
}

form {
    max-width: 300px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form input, textarea {
    outline: none;
    border: none;
    padding: .3rem .5rem;
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form textarea {
    scrollbar-width: none;
    min-height: 150px;
    min-width: 250px;
    max-width: 350px;   
}


form input[type="submit"] {
    width: 60px;
    margin-inline: auto;
    font-size: .75rem;
    color: #fff;
    background: #0e5210;
    padding-block: .3rem;   
    border: none;
    border-radius: 5px;   
    cursor: pointer;   
    text-align: center;
    text-decoration: none;
    transition: all 100ms linear;
    margin-block-start: .5rem;
}

form input[type="submit"]:hover {
    background: #108113;
}
    