@media (width < 800px) {
    header nav {
        display: none;
        position: absolute;
        top: 4rem;
        /* background-color: #060606; */
        background-color: #0606068d;
        backdrop-filter: blur(10px);
        width: 100%;
        box-shadow: 0 0 1rem -5px #000;
        padding-block: 1rem;
    }

    nav li {
        display: block;
        text-align: center;
        margin-bottom: .5rem;
        z-index: 9999;
    }

    .menu-icon {
        display: block;
        color: #fff;
        font-size: 1.4rem;
        margin-right: 1rem;
    }
}

@media (width > 801px) {
    header nav {
        display: block !important;
    }
}